@media (max-width:420px) {
   
    body{
        width: 100%;
    }
    header{
        padding: 2em 1.5em;
    }
    .desktop_menu .menu a,button{
        display: none;
    }
    .hamburger_header{
        display: none;
        justify-content: center;
        align-items: center;
    }
    .open{
        display: flex;
    }
    .mobile_menu button{
        display: block;
    }
    .open_btn .top{
        background-color:rgba(255, 255, 255,.3);
    }
    /* hero section */
    .hero{
        height: 90vh;
    }
    .hero h1{
        font-weight: 900;
        font-size: 35px;
        padding: 0;
        padding-bottom: 2.5em;
        padding-top: 2.5em;
    }
    .wrapper .box1{
        padding: 0 1.5em;
        gap: 2em;
    }
    .wrapper .box1 h1{
        padding: 0 1em;
        text-align: center;
    }
    .wrapper .box1 p{
        padding: 0;
        text-align: center;
    }
    .wrapper .box1 h3{
        text-align: center;
    }
    .wrapper .box5, .wrapper .box6{
        padding-bottom: 3em;
    }
    .wrapper .box5 p,.wrapper .box6 p{
        padding: 0 1em;
    }
   
   







    .wrapper{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .wrapper > div{
        grid-column: 1;
    }
    .wrapper .box2{
       grid-row: 1;
    }
    .wrapper .box7{
        grid-column: 1;
    }
    .wrapper .box7 h1{
        text-align: center;
        font-size: 20px;
    }
    .wrapper .box7 .reviews{
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 5em;
    }
    .box7 .reviews > div{
        width: 100%;
    }
    .wrapper .box8{
        grid-column: 1;
        grid-template-columns: repeat(2,1fr);
    }

    .hamburger_button{
        display: flex;
    }
}